<h1>Welcome to Facebook(But Not Really Doe)</h1>
<hr />
<!-- <p>Find me in app/views/users/index.html.erb</p> -->
<% if @users.any? %>
	<% @users.each do |user| %>
		<h2><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></h2>
		<p><%= user.email %></p>
	
		<%= link_to 'Edit User', edit_user_path(user) %>
		|
		<%= link_to 'Delete User', user_path(user), method: :delete %>
		<br />
		<br />
	<% end %>
<% else %>
	<h3>No Users</h3>
<% end %>

<hr />

<h2><%= link_to 'Create A New User', new_user_path %></h2>

