<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
			<br />
			<br />
			<%= image_tag("fauxbook.png", alt: "fauxbook") %>
			<hr />
			<!-- <p>Find me in app/views/users/index.html.erb</p> -->
			<% if @users.any? %>
			<ul class="collection">
				<% @users.each do |user| %>
				<li class="collection-item avatar">
      		<i class="material-icons circle red">perm_identity</i>
      			<span class="title"><%= link_to "#{user.first_name} #{user.last_name}", posts_path(user_id: user.id) %></span>
						<p><%= user.email %>
							 <br />
							 <%= link_to 'Edit User', edit_user_path(user) %>
								|
							 <%= link_to 'Delete User', user_path(user), method: :delete %>
						</p>

					<br />
					<br />
				<% end %>
			<% else %>
				<h3>No Users</h3>
			<% end %>
				</li>
		</ul>
			<hr />
			<%= link_to 'Create New User', new_user_path, class: "btn-floating btn-large waves-effect waves-light red"  %><i class="material-icons"></i>
		</div>
	</div>
</div>
