<h1>
	<%= @user.first_name %>
	<%= @user.last_name %>
</h1>
<hr />

<% if @posts.any? %>
 <ul>
   <% @posts.each do |post| %>
     <li>
       <h2><%= link_to " #{post.body}", post_path(post, user_id: @user.id) %></h2>
       <br />
       <%= link_to 'Edit Post', edit_post_path(post, user_id: @user.id), method: :get %> |       
       <%= link_to 'Delete Post', post_path(post, user_id: @user.id), method: :delete, data: {confirm: 'Delete this post?'} %>
       <br />
       <br />
     </li>
   <% end %>
 </ul>

<% else %>
 <h3>There are currently are no posts to show</h3>
<% end %>

<hr />

<h2><%= link_to "Add A Post", new_post_path(user_id: @user.id) %></h2>
<h2><%= link_to "Back To Users", users_path %></h2>