<h1>
	<%= @user.first_name %>
</h1>
<hr />

<%= link_to "Add A Post", new_post_path(user_id: @user.id) %>
<br />
<%= link_to "Back To Users", users_path %>
<% if @posts.any? %>
 <ul>
   <% @posts.each do |post| %>
     <li>
       <%= link_to " #{post.body}", post_path(post, user_id: @user.id) %>
       <br />
       <br />
       <%= link_to 'Edit Post', edit_post_path(post, user_id: @user.id), method: :get %> 
       <br />
       <br />
       <%= link_to 'Delete', post_path(post, user_id: @user.id), method: :delete, data: {confirm: 'Delete this item'} %>
     </li>
   <% end %>
 </ul>

<% else %>
 <h3>No posts to show</h3>
<% end %>