<% if @post.errors.any? %>
    <h4>Errors:</h4>
    <p><%= @post.errors.full_messages.join(', ') %></p>
    <hr />
<% end %>

<%= form_for @post do |f| %>

    <%= f.label :body %>:
    <%= f.text_field :body %>

    <%= f.hidden_field :user_id, value: params[:user_id] %>

    <br />
    <br />

    <%= f.submit "Submit" %>

<% end %>