<h1>
	<%= @user.first_name %>
	<%= @user.last_name %>
</h1>
<hr />

<h2><%= @post.body %></h2>

<% if @comment.any? %>
 <ul>
   <% @comment.each do |comment| %>
     <li>
       <h3><%= comment.body %></h3>
       <h4>by: <%= "#{User.find(comment.user_id).first_name} #{User.find(comment.user_id).last_name}" %></h4>
       
       <%= link_to 'Edit Comment', edit_comment_path(comment, user_id: @user.id, post_id: @post.id), method: :get %> 
       |
       <%= link_to 'Delete Comment', comment_path(comment, user_id: @user.id, post_id: @post.id), method: :delete, data: {confirm: 'Delete this comment?'} %>
       <br />
       <br />
     </li>
   <% end %>
 </ul>

<% else %>
 <h3>No comments to show</h3>
<% end %>

<hr />

<h2><%= link_to "Add A Comment", new_comment_path(user_id: @user.id, post_id: @post.id) %></h2>
<h2><%= link_to "Back To Posts" %></h2>
<h2><%= link_to "Back To Users", users_path %></h2>